.skills_about {
  display: grid;
  grid-template-columns: 100%;
  @include tablet {
    grid-template-columns: 50% 1fr;
  }
  margin: 5%;
  // SKILLS --------------------------
  .skills {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 30% 1fr;
    @include tablet {
      grid-template-columns: 28% 1fr;
    }
    border: 4px solid #fff;

    border-radius: 10px;

    .skill-set {
      padding: 2%;
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        background: none;
        border: 3px solid #fff;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 5%;
        position: relative;
        text-transform: uppercase;
        padding: 10% 5%;
        @include tablet {
          font-size: 1.1rem;
          padding: 2rem 0;
          // justify-self: center;
        }
        @include desktop {
          font-size: 1.3rem;
          // justify-self: center;
        }
      }
    }

    // LIST OF SKILLS
    .skill-list {
      background-color: rgb(65, 65, 65);
      position: relative;
      grid-column: span 1;
      color: white;
      margin: 0 0 0 2%;
      padding: 3%;
      border-left: 2px solid #fff;
      z-index: -1;
      & div {
        // Front-End
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: auto 0;
        & div {
          display: block;
          height: auto;
        }
        .progress {
          margin-bottom: 7px;
          border-radius: 10px;
        }
      }
      .progress {
        background-color: #707070;
        .progress-bar {
          background-color: #e5e5e5;
          color: black;
        }
      }
      // Temporary disable of others SKILLS

      .Back-End,
      .Design,
      .Cloud,
      .Others {
        display: none;
      }
    }
  }

  // ABOUT ----------------------------

  .about {
    margin: 2em;
    font-size: 1.5rem;
    @include tablet {
    }
  }
}
